
*.pb
imagenet_comp_graph_label_strings.txt
LICENSE
GettingStarted.ipynb
*.png
*.txt
*.jpg
INRIAPerson.tar
INRIAPerson/Test/annotations.lst
INRIAPerson/Test/neg.lst
INRIAPerson/Test/pos.lst
INRIAPerson/test_64x128_H96/neg
INRIAPerson/test_64x128_H96/neg.lst
INRIAPerson/test_64x128_H96/pos.lst
INRIAPerson/Train/annotations.lst
INRIAPerson/Train/neg.lst
INRIAPerson/Train/pos.lst
INRIAPerson/train_64x128_H96/neg
INRIAPerson/train_64x128_H96/neg.lst
INRIAPerson/train_64x128_H96/pos.lst
